@model List<Recette>

@{
    ViewData["Title"] = "Utilisateurs";
}

@if (TempData.ContainsKey("ValidateMessage"))
{
    <p>@TempData["ValidateMessage"]</p>
}

<div class="titpag">
    
    
    <h1>Recettes</h1>
   
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Temps de Préparation</th>
                <th>Temps de Cuisson</th>
                <th>Difficulté</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var recette in Model)
            {
                <tr>

                    <td>@recette.id</td>
                    <td data-label="Nom">@recette.nom</td>

              

                    <td data-label="Temps_preparation">@recette.temps_preparation</td>

                    <td data-label="Temps_cuisson">@recette.temps_cuisson</td>

                    <td data-label="Difficulte">@recette.difficulte</td>

                    <td>
                        <a asp-controller="Recettes" asp-action="Detail" asp-route-id="@recette.id">Détails</a>
                    </td>
                    <td>
                        <a asp-controller="Recettes" asp-action="Modifier" asp-route-id="@recette.id">Modifier</a>
                    </td>
                  @*   @if (User.IsInRole("Admin"))
                    { *@
                        <td>
                            <form asp-controller="Recettes" asp-action="Supprimer" method="post">
                                <input type="hidden" name="idRecette" value="@recette.id">
                                <button type="button" class="suppressionButton" data-nom="@recette.nom">Supprimer</button>
                            </form>
                        </td>
                  @*   } *@
                </tr>
            }
        </tbody>

    </table>
</div>
