@model List<Utilisateur>
@{
    ViewData["Title"] = "Utilisateurs";
}
@if (TempData.ContainsKey("ValidateMessage"))
{
    <p>@TempData["ValidateMessage"]</p>
}
<div class="titpag">
    
    <h1>Utilisateur</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Identifiant</th>
                <th>Email</th>
                @* <th>Password</th> *@
            </tr>
        </thead>

        <tbody>
            @foreach (var utilisateur in @Model!)
            {
                <tr>
                    <td>@(utilisateur.Id)</td>
                    <td>@(utilisateur.identifiant)</td>
                    <td>@(utilisateur.email)</td>
                    @* <td>@(utilisateur.password)</td> *@
                    <td><a asp-controller="Utilisateurs" asp-action="Detail" asp-route-id=@(utilisateur.Id)>Detail</a></td>
                
            <td>
                <a asp-controller="Utilisateurs" asp-action="Modifier" asp-route-id="@utilisateur.Id">Modifier</a>
            </td>
            <td>
                <form asp-controller="Utilisateurs" asp-action="Supprimer" method="post">
                    <input type="hidden" name="idUtilisateur" value="@utilisateur.Id">
                    <button type="button" class="suppressionButtonU" data-nom="@utilisateur.identifiant">Supprimer</button>
                </form>
            </td>


                </tr>
            }
        </tbody>
    </table>
</div>
>
