@model Utilisateur
@{
	Layout = "_LayoutSpecial";
}
<main id="login-page">
	<div class="auth-container" id="auth-container">
		<div id="login-form">
<h1>Inscription</h1>
<form asp-controller="Access" asp-action="SignUp" method="post">
	
			<label asp-for="@Model.identifiant">Identifiant</label>
				<input asp-for="@Model.identifiant" placeholder="Entrez un identifiant" required>
			<span asp-validation-for="@Model.identifiant" class="text-danger"></span>

			<label asp-for="@Model.email">Adresse e-mail :</label>
				<input asp-for="@Model.email" placeholder="Entrez votre e-mail" required>
			<span asp-validation-for="@Model.email" class="text-danger"></span>


				<label asp-for="@Model.password">Mot de passe :</label>
				<input asp-for="@Model.password" placeholder="Entrez un mot de passe" required>
			<span asp-validation-for="@Model.password" class="text-danger"></span>
		</tr>
	</table>
	<input type="submit" value="Inscription">
	@if (ViewData["ValidateMessage"] != null)
	{
		<p>@ViewData["ValidateMessage"]</p>
	}
</form>
			